html {
    color: white;
    /*background-color: #333;*/
    background: linear-gradient(to right, #068fd0, #0dd47e);
    font-family: 'Quicksand', sans-serif;
}
h1{
    font-size: 35px;
    text-decoration: underline;
    color: darkgrey;
    text-align: center;
}
h2{
    font-size: 25px;
    text-decoration: underline;
    color: hsl(200, 100%, 50%);
    text-align: center;
}
h3 {
    font-size: 30px;
    text-decoration: underline;
    color: hsl(200, 100%, 50%);
}
p {
    font-size: 20px;
    text-align: center;
    color: white;
}
b {
    font-size: 18px;
    color: red;
}
.container {
    text-align: center;
}
.picture {
    text-align: center;
    width: 70%;
    height: 25%;
    margin-left: 20px;
    border: solid 14px black;
}
a {
    color:white;
    text-decoration: none;
    font-size: 20px;
}
li {
    font-size: 18px;
    color: white;
}
#tab:hover {
    cursor: pointer;
    opacity: 50%;
}
#teb:hover {
    cursor: pointer;
    opacity: 50%;
}
span{
    text-align: center;
}
.box {
    width: 800px;
    max-width: 100%;
    background-color: #121212;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 6px black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.first {
    color: white;
}
